ul{
    width: 1600px;

    list-style-type: none;
    margin: 10px auto;
}
li{
    background-position: center 15px;
    float:left;
    margin-top:5px;
    border-radius: 5px 5px 0 0;
    position:relative;
    margin: 10px;
}
ul::after,
ul::before {
    content:'';
    display:block;
    clear:both;
}
img{
    border-radius: 100%;
    width: 420px;
    height: 420px;
    display: block;
    position: relative;
    transition-duration: 2s;
}
.picblock .a{
    transform: scale(1);
    box-shadow: 0 0 0 208px rgba(255, 255, 255, 0.678);
}
.picblock:hover .a{
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    
    transition-duration: 2s;
}
.picblock{
    overflow: hidden;
    border-radius: 50%;
    box-shadow:0 0 0 2px rgb(255, 255, 255),
    0 0 0 4px #000;
}
.picblock:hover img{
    transform: scale(1.5);
    
    transition-duration: 2s;
}
.a{
    left: 208px;
    top: 208px;
    border: 2px solid rgba(255, 255, 255, 0.678);
    transform: scale(0);
    position: absolute;
    border-radius: 50%;

    transition-duration: 2s;
}
